* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
}

@media only screen and (min-width: 375px) {
  /********************* BLOCK STYLING *******************/

  .mobile-banner-section {
    display: flex;
    margin: 4.6rem 0 0 0;
    background-image: url(../images/image-hero-mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 50%;
  }

  .page {
    height: 100%;
  }

  .container {
    padding: 1.6rem 1.6rem 0 1.6rem;
  }

  /* .header {
  } */

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  /* .logo {
  } */
  .sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 24, 63, 1);
    border: none;
    border-radius: 28px;
    padding: 0.9rem 2.4rem 1.1rem 2.4rem;
    cursor: pointer;
  }

  .background-image-container {
    margin: 4.6rem 0.8rem 6.6rem 0.8rem;
    display: flex;
  }
  .cards-section {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(240, 241, 255, 1));
    padding: 0 1.6rem 8rem 1.6rem;
  }

  .h2-container {
    background: linear-gradient(rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
    padding: 2.4rem 2.9rem 3.2rem 2.8rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    padding: 3.6rem 1.6rem;
    background-color: rgba(19, 24, 63, 1);
  }

  /********************* CARDS STYLING *******************/
  .card-box {
    margin: 4rem 0 0 0;
    padding: 5.6rem 2.9rem 3.2rem 2.8rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  /* .design-container {
  }
  .photography-container {
  }
  .crypto-container {
  }
  .business-container {
  }

  .animation-container {
  } */

  /********************* IMAGE STYLING *******************/
  .logo img {
    max-width: 100%;
  }

  .card-box img {
    display: flex;
    position: absolute;
    left: 28px;
    top: -24px;
  }

  .mobile-image {
    max-width: 100%;
  }
  .mobile-desktop {
    display: none;
  }
  .mobile-tablet {
    display: none;
  }

  /********************* TEXT STYLING *******************/

  .p-txt {
    color: rgba(131, 134, 154, 1);
    font-weight: 500;
    line-height: 2.6rem;
    font-size: 1.6rem;
    margin: 1.6rem 0 2.4rem 0;
  }

  .h3-title {
    color: rgba(19, 24, 63, 1);
    font-size: 2rem;
    font-weight: 800;
    line-height: 25.2px;
  }

  .h2-title {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
  }

  .h1-title {
    margin: 3.8rem 0;
    font-size: 4rem;
    font-weight: 800;
    line-height: 50.4px;
    color: rgba(19, 24, 63, 1);
  }
  .subtitle {
    margin-bottom: 2.4rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 26px;
    color: rgba(131, 134, 154, 1);
  }

  /********************* MODIFICATOR STYLING *******************/

  .colored-btn {
    line-height: 26px;
    background: linear-gradient(rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
  }

  .footer-btn {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(rgba(72, 81, 255, 1), rgba(240, 42, 166, 1));
  }

  .transparent-btn {
    font-size: 1.8rem;
    color: rgba(247, 71, 128, 1);
    line-height: 28px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    background: none;
  }

  .colored-btn:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }

  .footer-btn:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  }

  .header-btn:hover {
    background-color: rgba(102, 108, 163, 1);
  }

  .sign-up-btn {
    transition: 0.4s;
  }
}

@media only screen and (min-width: 768px) {
  /********************* BLOCK STYLING *******************/

  body {
    margin: 0;
    background-image: url(../images/image-hero-tablet.png);
    background-repeat: no-repeat;
    background-position: top -97px right -296px;
  }

  .mobile-banner-section {
    display: none;
  }

  .page {
    height: 100%;
  }

  .container {
    padding: 1.6rem 1.6rem 0 1.6rem;
  }

  .header {
    padding: 0 2.3rem;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  /* .logo {
  } */
  .sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 24, 63, 1);
    border: none;
    border-radius: 28px;
    padding: 0.9rem 2.4rem 1.1rem 2.4rem;
    cursor: pointer;
  }

  .tablet-inner-btn {
    margin-bottom: 18.6rem;
  }

  .title-inner-container {
    max-width: 400px;
    margin-left: 2.3rem;
  }

  .cards-section {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(240, 241, 255, 1));
    padding: 2.4rem 4rem 8.6rem 3.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 1.6rem;
    column-gap: 11px;
  }

  .h2-container {
    background: linear-gradient(rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
    padding: 5.6rem 3.2rem 0rem 3.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .footer {
    padding: 3.6rem 3.9rem;
    background-color: rgba(19, 24, 63, 1);
  }

  /********************* CARDS STYLING *******************/
  .card-box {
    margin: 4rem 0 0 0;
    padding: 5.6rem 2.1rem 3.2rem 3.2rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  /* .design-container {
  }
  .photography-container {
  }
  .crypto-container {
  }
  .business-container {
  }

  .animation-container {
  } */

  /********************* IMAGE STYLING *******************/
  .logo img {
    max-width: 100%;
  }

  .card-box img {
    display: flex;
    position: absolute;
    left: 28px;
    top: -24px;
  }

  .mobile-image {
    display: none;
  }
  .mobile-desktop {
    display: none;
  }
  .mobile-tablet {
    display: flex;
    display: none;
  }

  /********************* TEXT STYLING *******************/

  .p-txt {
    color: rgba(131, 134, 154, 1);
    font-weight: 500;
    line-height: 2.6rem;
    font-size: 1.6rem;
    margin: 1.6rem 0 2.4rem 0;
  }

  .h3-title {
    color: rgba(19, 24, 63, 1);
    font-size: 2rem;
    font-weight: 800;
    line-height: 25.2px;
  }

  .h2-title {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
  }

  .h1-title {
    margin: 10.5rem 0 2.5rem 0;
    font-size: 4rem;
    font-weight: 800;
    line-height: 50.4px;
    color: rgba(19, 24, 63, 1);
  }
  .subtitle {
    margin-bottom: 2.4rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 26px;
    color: rgba(131, 134, 154, 1);
  }

  /********************* MODIFICATOR STYLING *******************/
  .colored-btn {
    line-height: 26px;
    background: linear-gradient(rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
    padding: 1.5rem 3.7rem;
  }
  .footer-btn {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(rgba(72, 81, 255, 1), rgba(240, 42, 166, 1));
  }

  .transparent-btn {
    font-size: 1.8rem;
    color: rgba(247, 71, 128, 1);
    line-height: 28px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    background: none;
  }
}

@media only screen and (min-width: 1360px) {
  /********************* BLOCK STYLING *******************/

  body {
    margin: 0;
    background-image: url(../images/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-position: top -97px right -296px;
  }

  .mobile-banner-section {
    display: none;
  }

  .page {
    height: 100%;
  }

  /* .container {
  } */

  .header {
    padding: 0;
    margin: 2.4rem 0;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  /* .logo {
  } */
  .sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 24, 63, 1);
    border: none;
    border-radius: 28px;
    padding: 0.9rem 2.4rem 1.1rem 2.4rem;
    cursor: pointer;
  }

  .tablet-inner-btn {
    margin-bottom: 0;
  }

  .title-inner-container {
    max-width: 400px;
    margin: 17.2rem 0 25rem 0;
  }

  .cards-section {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(240, 241, 255, 1));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 8rem;
    column-gap: 3rem;
  }

  .h2-container {
    background: linear-gradient(rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
    padding: 5.6rem 3.2rem 0rem 3.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .footer {
    padding: 3.2rem 0;
    background-color: rgba(19, 24, 63, 1);
  }

  .footer.desktop-padding {
    padding: 3.2rem 16.5rem;
  }

  /********************* CARDS STYLING *******************/
  .card-box {
    margin: 0rem 0 0 0;
    padding: 6.4rem 3.2rem 4rem 3.2rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  /* .card-box .design-container {
  }
  .photography-container {
  }
  .crypto-container {
  }
  .business-container {
  }

  .animation-container {
  } */

  /********************* IMAGE STYLING *******************/
  .logo img {
    max-width: 100%;
    cursor: pointer;
  }

  .card-box img {
    display: flex;
    position: absolute;
    left: 28px;
    top: -24px;
  }

  .mobile-image {
    display: none;
  }
  .mobile-desktop {
    display: none;
  }
  .mobile-tablet {
    display: none;
  }

  /********************* TEXT STYLING *******************/

  .p-txt {
    color: rgba(131, 134, 154, 1);
    font-weight: 500;
    line-height: 2.6rem;
    font-size: 1.6rem;
    margin: 2.4rem 0 5.2rem 0;
  }

  .h3-title {
    color: rgba(19, 24, 63, 1);
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 30px;
  }

  .h2-title {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
  }

  .h1-title {
    margin: 10.5rem 0 2.5rem 0;
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 70.56px;
    color: rgba(19, 24, 63, 1);
  }
  .subtitle {
    margin-bottom: 4rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 28px;
    color: rgba(131, 134, 154, 1);
  }

  /********************* MODIFICATOR STYLING *******************/

  /* .sign-up-btn:hover {
    background-color: rgba(102, 108, 163, 1);
  } */

  .colored-btn {
    line-height: 26px;
    background: linear-gradient(rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
    padding: 1.5rem 3.7rem;
  }

  .footer-btn {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(rgba(72, 81, 255, 1), rgba(240, 42, 166, 1));
  }

  .transparent-btn {
    font-size: 1.8rem;
    color: rgba(247, 71, 128, 1);
    line-height: 28px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    background: none;
  }

  .desktop-padding {
    padding: 0 16.5rem;
  }

  .cards-section.desktop-padding {
    padding-bottom: 14rem;
  }
}
